/* General rules 
*******************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* Colors*/

:root {
    --txt_primary-color: #000000;
    --txt_secondary-color: #61082B;
    --txt_tertiary-color: #65A0FF; 
    --btn-color: #0061FF; 
    --bg_primary-color: #FFFFFF;
    --bg_secondary-color: #B4D0E7; 
    --bg_footer-color: #000000;
    
}

/* designit section 

background: #B4D0E7;
background: #000000;
background: #0093CE;
background: #0D2481;
background: #61082B;
background: #A2D39B;
background: #D5001F;
background: #F5F5F5;
background: #FF1C1C;
background: #FFD830;

*/

/* Utility */

.container{
    width: 80%;
    max-width: 960px;
    margin:auto;
}


.row{
    width: 100%;
}

.row::after{
    content: "";
    display: table;
    clear:both;
}


/* Common rules
******************/

body{ 
    min-width: 1440px;
}

/* columns */


[class*="col_"]{
    float:left;
    border: 5px solid white;
}

.col_100 {
    
    width: 100%;
    
}


.col_75{
    width: 75%;
   
}


.col_60{
    width: 60%;
}

.col_50{
    width: 50%;
   
}


.col_40{
    width: 40%;
}

.col_33{
    width: 33%;
   
}


.col_25{
    width: 25%;
    
}


.col_20{
    width: 20%;
   

}

.col_15{
    width: 15%;
    
}


/* Debug */



.debug>header{
    height: 100px;

}

.debug>main{
    height: 3400px;

}

.debug>footer{
    height:500px;
} 


.debug .col_20{
    height:300px;
}

.debug .col_25{
    height:300px;
    background-color: darkcyan;
}

.debug .col_33{
    height:200px;
    background-color: green;
}

.debug .col_40{
    height:300px;
    background-color:blue;
}

.debug .col_50{
    height: 100px;
    background-color: yellow;
    
}

.debug .col_60{
    height: 300px;;
    background-color: #61082B;

}

.debug .col_75{

    background-color: green;
    height: 300px;
}


.debug .col_100{
    height: 140px;
    background-color:green;
}


.debug .navigation{
    height: 100px;
    background-color: blueviolet;
}


.debug .hero{
    height:600px;
    background-color: cornflowerblue;
}


.debug .business{
    height:600px;
    background-color:dimgrey;
}


.debug .partner{
    height:400px;
    background-color:palegreen;
}

.debug .tools{

    height:500px;
    background-color: darkorange;
}

.debug .teams{
    height:800px;
    background-color:deeppink;

}

.debug .cta{
    height:100px;
    background-color: aqua;
}

.debug .faq{
    height: 400px;
    background-color: burlywood;
    
}

.debug .site_map{
    height:500px;
    background-color: black;

}


.debug .site_map>.col_20{
    border: 2px solid white;

}

.debug .cta>.col_50{
    height:200px;
    background-color: azure;
    border: 10px solid black;
}

.debug .faq>.col_75{
    height:200px;

}

.debug .faq>.col_25{
    height: 200px;
    margin:0;

}


.debug .teams .row>.col_50{
    height:600px;
}

.debug .teams .row>.col_25{
    height:600px;
}


.debug .brand{
    height:300px;
    background-color: #00ff80;
}
