/* General rules 
*******************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* Colors*/

:root {
    --txt_primary-color: #000000;
    --txt_secondary-color: #61082B;
    --txt_tertiary-color: #65A0FF; 
    --btn-color: #0061FF; 
    --bg_primary-color: #FFFFFF;
    --bg_secondary-color: #B4D0E7; 
    --bg_footer-color: #000000;
    
}

/* designit section 

background: #B4D0E7;
background: #000000;
background: #0093CE;
background: #0D2481;
background: #61082B;
background: #A2D39B;
background: #D5001F;
background: #F5F5F5;
background: #FF1C1C;
background: #FFD830;

*/

/* Utility */

.clearfix::after{
    content: "";
    display: table;
    clear:both;
}

.container{
    width: 1200px;
    margin:auto;
}


/* Common rules
******************/

/* columns */


.col_100 {
    
    width: 100%;
    float:left;
    padding:10px 0;
}


.col_75{
    width: 75%;
    float:left;
    padding:10px 0;
}

.col_50{
    width: 50%;
    float: left;
    padding:10px 0;
}


.col_33{
    width: 33%;
    float:left;
    padding:10px 0;
}


.col_25{
    width: 25%;
    float:left;
    padding:10px 0;
}


.col_20{
    width: 20%;
    float:left;
    padding:10px 0;

}


.col_15{
    width: 15%;
    float:left;
    padding:10px 0;
}


/* Debug */

.debug .col_50{
    margin:10px 0;
    height: 30px;
    background-color: yellow;
    
}

.debug .col_100{
    margin:10px 0;
    height: 140px;
    background-color:green;
}


.debug .col_33{
    margin:10px 2px;
    height:626px;
    background-color: green;
}


.debug .col_25{
    margin:10px 0;
    height:150px;
    background-color:black;
    border: 3px solid black;
}


.debug .col_75{
    /* height:626px; */
    background-color: green;
    border:3px solid black;
}


.debug .navigation{
    height: 50px;
    background-color: blueviolet;
}


.debug .hero{
    height:500px;
    background-color: cornflowerblue;
}


.debug .business{
    height:1000px;
    background-color:dimgrey;
}


.debug .partner{
    height:300px;
    background-color:palegreen;
}


.debug .partner>.col_50{
    height: 278px;
}



.debug .tools>.col_100{
    height:100px;

}


.debug .tools{
    background-color: darkorange;
}

.debug .tools>.col_33{
    height: 325px;
}



.debug .designit{
    height: 320px;
    background-color: deeppink;
}

.debug .designit>.col_50{
    height: 300px; 
}


.debug .designit>.col_25{
    height: 300px;

}


.debug .brand>.col_50{
    height:120px;
    border: 10px solid black;
}


.debug .enterprise{

    height:220px;
    background-color: aqua;
}

.debug .enterprise>.col_50{
    height:200px;
    background-color: azure;
    border: 10px solid black;
}

.debug .faq{
    height: 220px;
    background-color: burlywood;
    padding: 10px;
}


.debug .faq>.col_75{
    height:200px;

}

.debug .faq>.col_25{
    height: 200px;
    margin:0;

}



.debug .site_map{
    height:600px;
    background-color: black;

}


.debug .site_map>.col_20 {
    height: 500px;
    margin:10px 0;
    background-color:darkkhaki;
    border:10px solid black;
}


.debug .site_map>.col_100 {
    background-color:darkkhaki;
    border:10px solid black;
}


